<div class="contauner-fluid">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col-4">
      <div class="card shadow">
        <div class="card-body">
          <form>
            <div class="mb-3">
              <h4 class="text-dark text-muted">Welcom</h4>
            </div>

            <button type="button" class="btn btn-info" (click)="LogOut()">
              Log Out
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>


